.hamburgerWrapper {
  position: fixed;
  top: 50%;
  left: 26px;
  transform: translateY(-50%);
  z-index: 1100;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
}

.MenuText {
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -850px;
  width: 850px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
  z-index: 1050;
}

.sidebar.open {
  left: 0;
}

.linkContainer {
  padding: 7rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  font-family: "Playfair Display", serif;
  color: #1c5666;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
  margin: 1.5rem 0;
  transition: color 0.2s ease;
  line-height: 70px;
}

.link:hover {
  color: #f0a500;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 1101;
  padding-left: 1rem;
  color: #1c5666;
}

.closeText {
  color: #1c5666;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

.subLink {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.1rem;
  opacity: 0.8;
  line-height: 1rem;
}
.linkContainerSecondary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bookingColor {
  /* Change this if needed */
  color: #1c5666;
}

.bookingText {
  color: #1c5666;
}

.bookingSidebar {
  background-color: #f6f6f6; /* light background for booking page */
}
.hidden {
  display: none;
}
