/*
	Installed from https://reactbits.dev/default/
*/

.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(
    1.2rem,
    4vw,
    3rem
  ); /* Reduced from 1.6rem, 8vw, 10rem to make it smaller */
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
}

.char {
  display: inline-block;
}
