/* Reset body & html default margins and paddings */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

/* Optional: overlay to darken background and improve text readability */
.app::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent; /* translucent dark overlay */
  z-index: -1;
}
